/* General Styling -
   Based on the default PyroCMS theme
*/

/* General Styles */
#contentWrapper { position: relative; }
#contentWrapper #content { width: 100%; }
#contentWrapper > aside { display: none; }
.firesale.width-onefourth { width: 230px; }
.firesale .clear { clear: both; height: 0; line-height: 0; }
.firesale.sidebar { position: absolute; z-index: 1; top: 62px; right: 0; }
.firesale.sidebar h2 { background: url('img/front/sidebar.bg.png') no-repeat; }
.firesale .left { float: left; }
.firesale .right { float: right; }
.firesale .clear { clear: both; }
.firesale .width-threefourth { width: 715px; margin-right: 20px; display: block; float: left; }
.firesale .width-onefourth { width: 225px; margin-right: 20px; display: block; float: left; }
.firesale .width-onesixth { width: 150px; margin-right: 12px; display: block; float: left; }
.firesale .width-onethird { width: 222px; margin-right: 20px; display: block; float: left; }
.firesale .width-half { width: 300px; display: block; float: left; }
.firesale .last { margin-right: 0px !important; margin-bottom: 0px !important; }
.firesale ul.icon-arrow li a { height: 15px; line-height: 15px; padding-left: 15px; font-size: 13px; color: #515151; letter-spacing: -1px; display: inline-block; color: #515151; background: url('images/sprite.png') no-repeat -285px 0; }
.firesale .button { padding: 2px; display: inline-block; }
.firesale .button span { font-size: 11px; line-height: 17px; height: 18px; display: inline-block; color: #fff; font-weight: normal; padding: 0 10px; border: 1px solid rgba(255,255,255,0.3); }
.firesale .align-left { text-align: left !important; }
.firesale .align-right { text-align: right !important; }

/* Icons */
.firesale .zoom { width: 24px; height: 24px; display: block; position: absolute; background: url('img/front/sprite.png') no-repeat -12px -224px; right: 4px; top: 4px; }
.firesale .icon { width: 25px; height: 22px; display: inline-block; background: #F76900 url('img/front/sprite.png') no-repeat; }
.firesale .icon.cart { background-position: -36px 0; }
.firesale .icon.contact { background-position: -61px 0; }
.firesale .icon.twitter { background-position: -86px 0; }
.firesale .icon.facebook { background-position: -111px 0; }
.firesale .circle-icon { width: 36px; height: 32px; display: inline-block; background: #F76900 url('img/front/sprite.png') no-repeat; }
.firesale .circle-icon.phone { background-position: 0 -32px; }
.firesale .circle-icon.mobile { background-position: 0 -64px; }
.firesale .circle-icon.address { background-position: 0 -96px; }
.firesale .circle-icon.skype { background-position: 0 -128px; }
.firesale .circle-icon.fax { background-position: 0 -160px; }
.firesale .circle-icon.email { background-position: 0 -192px; }
.firesale .icon-footer { width: 50px; height: 32px; display: inline-block; background: #F76900 url('img/front/sprite.png') no-repeat; }
.firesale .icon-footer.visa { background-position: -36px -32px; }
.firesale .icon-footer.paypal { background-position: -86px -32px; }
.firesale .icon-footer.mastercard { background-position: -36px -64px; }
.firesale .icon-footer.sagepay { background-position: -86px -64px; }
.firesale .icon-footer.americanexpress { background-position: -36px -96px; }
.firesale .icon-footer.google { background-position: -86px -96px; }
.firesale .icon-footer.discover { background-position: -36px -128px; }
.firesale .icon-footer.moneybookers { background-position: -86px -128px; }

/* Images */
.firesale .no_image_332 { display: block; width: 332px; height: 332px; margin-bottom: 10px; background: url('img/front/notfound_m.jpg') no-repeat; background-size: 332px 332px; }
.firesale .no_image_180 { display: block; width: 180px; height: 180px; margin-bottom: 10px; background: url('img/front/notfound_m.jpg') no-repeat; background-size: 180px 180px; }
.firesale .no_image_60 { display: block; width: 60px; height: 60px; margin-bottom: 10px; background: url('img/front/notfound_m.jpg') no-repeat; background-size: 60px 60px; }

/* Switcher - Style */
.firesale #listing-header { margin: 0 0 20px 0; padding-bottom: 10px; border-bottom: 1px solid #eee; }
.firesale #listing-header a.grid, #listing-header a.list { margin-right: 10px; opacity: 0.4; }
.firesale #listing-header a.grid.selected, #listing-header a.list.selected { opacity: 1; }
.firesale #listing-header a.grid span, #listing-header a.list span { display: inline-block; width: 11px; height: 11px; margin: 0 6px -1px 0; }
.firesale #listing-header a.grid span { background-position: -36px -21px; }
.firesale #listing-header a.list span { background-position: -47px -21px; }

/* Switcher - Order */
.firesale .switcher { width: 200px; top: 85px; right: 270px; cursor: pointer; z-index: 100; position: absolute; border-width: 1px; padding-right: 22px; border-style: solid; border-radius: 3px; background: rgb(238, 238, 238) url('img/front/sprite.png') no-repeat 206px -284px; border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(238, 238, 238) rgb(238, 238, 238) rgb(221, 221, 221);  border-radius: 2px 2px 2px 2px; }
.firesale .switcher span, .switcher a { display: inline-block; width: 200px; line-height: 22px; font-size: 11px; text-indent: 7px; color: #999; }
.firesale .switcher ul { display: none; width: 222px; /*max-height: 122px;*/ overflow-x: hidden; overflow-y: auto; }
.firesale .switcher:hover ul { display: block; padding: 0; }
.firesale .switcher li { list-style: none; padding: 0; }

/* Pagination */
.firesale .pagination { padding: 10px 0; margin: 0 0 30px 0; }
.firesale .pagination ul { display: block; height: 20px; padding: 0 !important; }
.firesale .pagination ul li { display: block; float: left; margin-right: 4px; border: 1px solid #eee; border-radius: 3px; }
.firesale .pagination ul li:hover { box-shadow: 0 0 5px #ccc; }
.firesale .pagination ul li a, .pagination ul li span { text-shadow: 1px 1px 0 #fff; display: inline-block; line-height: 18px; padding: 0 10px; border-radius: 3px; }
.firesale .pagination ul li span { font-weight: bold; }

/* Price Boxes */
.firesale .price-round { display: block; float: right; position: relative; background: #F76900 url('img/front/sprite.png') no-repeat; }
.firesale .price-round > * { display: inline-block; position: absolute; text-align: center; width: 100%; text-shadow: none; color: rgba(255,255,255,0.8); }
.firesale .price-round.large { width: 100px; height: 100px; border-radius: 50px; background-position: -36px -160px; }
.firesale .price-round.large .rrp { font-size: 14px; line-height: 18px; margin-top: 16px; text-decoration: line-through; }
.firesale .price-round.large .price { font-size: 24px; line-height: 28px; margin-top: 35px; }
.firesale .price-round.large .currency { font-size: 14px; line-height: 18px; margin-top: 68px; }
.firesale .price-round.medium { width: 80px; height: 80px; border-radius: 40px; background-position: -220px -51px; }
.firesale .price-round.medium .rrp { font-size: 14px; line-height: 18px; margin-top: 10px; text-decoration: line-through; }
.firesale .price-round.medium .price { font-size: 18px; line-height: 28px; margin-top: 25px; }
.firesale .price-round.medium .currency { font-size: 14px; line-height: 18px; margin-top: 53px; }

/* Product listings */
.firesale #listing { width: 715px; }
.firesale #listing article { width: 715px; border-radius: 6px; }
.firesale #listing article:hover { box-shadow: 0 0 20px rgba(0,0,0,0.3); }
.firesale #listing article header { padding-bottom: 15px; }
.firesale #listing article header h3 { margin: 0; padding: 4px; line-height: 20px; }
.firesale #listing article header h3 a { font-size: 14px; color: #333; font-weight: bold; letter-spacing: .3px; }
.firesale #listing article header em { line-height: 18px; font-size: 11px; color: #999; display: block; }
.firesale #listing p.description { padding-bottom: 15px; }
.firesale #listing footer a { line-height: 18px; font-size: 12px; position: relative; }
.firesale #listing footer a .icon { display: inline-block; width: 16px; height: 15px; margin: 0 6px -3px 0; background-position: -258px 0; }
.firesale #listing.list article { width: 675px; min-height: 180px; padding: 20px; margin: 0 0 20px 0; display: block; position: relative; }
.firesale #listing.list article img { width: 180px; height: 180px; position: absolute; top: 20px; left: 20px; }
.firesale #listing.list article .price-round { position: absolute; top: 20px; right: 20px; }
.firesale #listing.list article header, #listing.list footer, #listing.list p.description { position: relative; margin: 0 100px 0 200px; }
.firesale #listing.grid article { width: 180px; padding: 20px 20px 5px 20px; display: block; float: left; position: relative; margin: 0 27.5px 25px 0; }
.firesale #listing.grid article img { width: 180px; height: 180px; margin: 0 0 20px 0; }
.firesale #listing.grid p.description { display: none; }
.firesale #listing.grid article .price-round { position: absolute; top: 130px; right: 20px; }
.firesale #listing.grid article header h3 { text-align: center; }
.firesale #listing.grid article header h3 a { font-weight: normal; }
.firesale #listing.grid article header h3 a:hover { text-decoration: underline; }
.firesale #listing.grid article header em { display: block; text-align: center; }
.firesale #listing.grid article footer { width: 180px; height: 18px; margin: 0; padding: 0; text-align: center; }
.firesale #listing.grid article footer a { display: none; }
.firesale #listing.grid article:hover footer a { display: inline-block; }
.firesale #listing.grid article .stars { position: relative; margin: 10px 38px 2px 38px; }
.firesale #listing.grid article:nth-child(3n) { margin-right: 0 !important; }
.firesale #listing.grid article:nth-child(3n+1) { clear: both !important; }

/* Product */
.firesale.product { width: 715px; min-height: 350px; }
.firesale .product-images { width: 340px; min-height: 300px; margin-right: 20px; display: block; float: left; }
.firesale .product-images ul { width: 340px; padding: 0; }
.firesale .product-images li { width: 92px; padding: 3px; list-style: none; border: 1px solid #eee; display: block; float: left; margin: 20px 20px 0 0; }
.firesale .product-images li img { width: 92px; }
.firesale .product-images li:nth-child(4) { margin-right: 0; }
.firesale .product-images li.main { width: 332px; margin: 0; position: relative; }
.firesale .product-images li.main img { width: 332px; }
.firesale .product-details { width: 355px; display: block; float: left; }
.firesale .product-details ul { width: 205px; height: 100px; padding: 0; display: inline-block; }
.firesale .product-details ul li { width: 255px; height: 18px; list-style: none; line-height: 18px; font-size: 12px; margin-bottom: 7px; display: inline-block; }
.firesale .product-details ul li strong, .firesale .product-buy label { width: 120px; font-size: 12px; display: inline-block; font-weight: bold; }
.firesale .product-buy { width: 355px; margin-top: 20px; display: block; float: left; }
.firesale .product-buy label { display: block; float: left; height: 42px; margin-right: 5px; line-height: 42px; font-family: "Ubuntu Regular", sans-serif; font-weight: bold; }
.firesale .product-buy input { float: left; margin: 4px 0 0 -3px !important; font-size: 17px; }
.firesale .product-buy button { cursor: pointer; display: block; float: right; margin: 2px 0 0 0; line-height: 14px; height: 34px; padding: 3px; }
.firesale #product-description { float: left; margin-top: 20px; }

/* Cart */
.firesale table.cart { width: 100%; }
.firesale table.cart th, .firesale table.cart td { padding: 10px; text-align: center; vertical-align: middle; font-size: 13px; line-height: 18px; color: rgb(51, 51, 51); border-bottom: 1px solid rgb(221, 221, 221); }
.firesale table.cart th { background: rgb(238, 238, 238); }
.firesale table.cart td input[type=text] { width: 50px; }
.firesale table.cart .remove { width: 35px; }
.firesale table.cart input[type=checkbox] { margin: 0 0 0 13px; }
.firesale table.cart input[type=text] { margin: 0; }
.firesale table.cart .image { width: 60px; }
.firesale table.cart .name { width: 200px; text-align: left; }
.firesale table.cart .model{ width: 60px; }
.firesale table.cart .options { width: 160px; text-align: left; }
.firesale #cart-totals { width: 260px; margin: 20px 0 10px 0; float: right; }
.firesale #cart-totals li { display: block; height: 18px; margin: 0 0 10px 0; line-height: 18px; font-size: 13px; color: rgb(51,51,51); }
.firesale #cart-totals li label { width: auto; font-weight: bold; float: left; }
.firesale #cart-totals li span { float: right; }
.firesale #cart-totals li.large { line-height: 24px; font-size: 20px; }
.firesale #cart-buttons { float: left; clear: both; display: block; height: 37px; margin: 30px 0 30px 0; }

/* Checkout */
.firesale#checkout > h3 { padding: 10px; margin: 0; cursor: pointer; line-height: 18px; color: rgb(51, 51, 51); border-top: 1px solid #fff; border-bottom: 1px solid rgb(221, 221, 221); background: rgb(238, 238, 238); }
.firesale#checkout > h3 a { font-size: 15px; line-height: 18px; }
.firesale#checkout fieldset { padding: 18px 10px 10px 10px; }
.firesale#checkout fieldset > div > ul { width: 300px; display: block; }
.firesale#checkout fieldset > div > ul:nth-child(odd) { float: left; }
.firesale#checkout fieldset > div > ul:nth-child(even) { float: right; }
.firesale#checkout fieldset > div > ul li { display: block; width: 100%; margin: 0 0 8px 0; }
.firesale#checkout fieldset > div > ul li label { display: inline-block; width: 140px; line-height: 30px; }
.firesale#checkout fieldset > div > ul li input[type=text] { width: 245px; }
.firesale#checkout input[type=checkbox], .firesale#checkout input[type=radio] { width: auto; float: left; margin: 7px 10px 0 0; }
.firesale#checkout fieldset > div > ul li.wide label { width: 360px; }
.firesale#checkout .prev { display: inline-block; margin: 20px 0 0 0; float: left; }
.firesale#checkout .next { display: inline-block; margin: 20px 0 0 0; float: right; }
.firesale#checkout fieldset p { font-size: 13px; line-height: 18px; }
.firesale#checkout .shipping { width: 100%; }
.firesale#checkout .shipping li { width: 100%; }
.firesale#checkout .shipping label {  }

/* Orders */
.firesale .order { padding: 20px; border-radius: 6px; position: relative; }
.firesale .order:hover { box-shadow: 0 0 20px rgba(0,0,0,0.3); }
.firesale .order:nth-child(3n) { margin-right: 0 !important; }
.firesale .order header { position: relative; padding: 0 0 5px 0; min-height: 20px; }
.firesale .order header h3 { position: absolute; top: 0; left: 0; text-align: right; }
.firesale .order header .right { position: absolute; top: 0; right: 0; text-align: right; }
.firesale .order header .right input { position: absolute; top: -4px; right: -8px; }
.firesale .order ul { padding: 0; }
.firesale .order ul li { line-height: 20px; font-size: 13px; list-style: none; padding: 0; }
.firesale .order footer { width: 100%; font-weight: normal; border-top: 1px solid #eee; padding: 10px 0 0 0; margin: 10px 0 0 0; font-size: 14px; line-height: 24px; }
.firesale .order footer a { line-height: 24px; position: absolute; right: 20px; font-weight: bold; }
.firesale .order.small { width: 175px; float: left; margin: 0 30px 30px 0; }

/* Payment */
.firesale .payment label { display: inline-block; clear: both; width: 100px; margin-bottom: 6px; }
.firesale .payment input[type=text] { width: 106px !important; line-height: 32px; margin: -4px 0 10px 0 !important; }
.firesale .payment select { width: 59px; display: inline-block; margin: 0 0 10px 0; }
.firesale .payment strong { display: block; padding-bottom: 10px; }
.firesale .payment .btn { float: right; }
.firesale.confirmation { font-size: 13px; line-height: 18px; }
.firesale.confirmation h2 { border: none; color: #000; }
.firesale.confirmation ul { padding: 0; }
.firesale.confirmation ul li { list-style: none; padding: 0; }
.firesale.confirmation .large { line-height: 24px; font-size: 20px; }
table.firesale.standard th, table.standard td { text-align: center; vertical-align: middle; line-height: 18px; border-right: 1px solid #fff; border-bottom: 1px solid #fff; }
table.firesale.standard th { padding: 3px 5px; background: #d6d6d6; color: #666; }
table.firesale.standard td { padding: 5px 10px; }